*{
  box-sizing: border-box;
}
.page-wrapper{
  padding: 3rem;
}
ul li{
  list-style-type: none;
}
.pad0{
  padding-left: 0;
}
.pad24{
  padding: 1.5rem;
}
.w100{
  width: 100%;
}
.plan-card{
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 48px;
}
.plan-card.cta{
  background:white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.plan-card ul{
  margin-bottom:1.5rem;
}
.plan-card ul:not(.order-summary-details) li:last-child{
  color: rgba(0,0,0,0.57);
}
.custom-plan-wrapper{
  padding: 1.5rem;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1.5rem!important;
}
.mt-24{
  margin-top: 1.5rem;
}
.mt-48{
  margin-top: 3rem!important;
}
.plan-card .header{
  height: 96px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem;
}
.header span{
  color: #888;
}
.button-wrapper{
  margin: 36px 0;
}
.btn-primary {
    color: #fff;
    background-color: #2cbd5f;
    border-color: #2cbd5f;
}
.btn-primary.cta{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(44, 189, 95, 1) 0%,rgba(88, 189, 193, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(44, 189, 95, 1) 0%, rgba(88, 189, 193, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(44, 189, 95, 1) ),color-stop(1,rgba(88, 189, 193, 1) ));
  background : -o-linear-gradient(0deg, rgba(44, 189, 95, 1) 0%, rgba(88, 189, 193, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(44, 189, 95, 1) 0%, rgba(88, 189, 193, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2CBD5F', endColorstr='#58BDC1' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(44, 189, 95, 1) 0%, rgba(88, 189, 193, 1) 100%);
  border-radius : .3rem;
  -moz-border-radius : .3rem;
  -webkit-border-radius : .3rem;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2CBD5F',endColorstr='#58BDC1' , GradientType=1);
}
.input-box{
  border-radius: .3rem;
  border: 1px solid #2cbd5f;
  font-size: 1.75rem;
  padding: 8px;
}
.order-summary-details-wrapper ul{
  display: table;
  width: 100%;
}
.order-summary-details-wrapper ul li{
  display: table-row;
  width: 100%;
}
.order-summary-details-wrapper ul li span{
  display: table-cell;
  padding: 0.875rem;
}
.order-summary-details-wrapper ul li span{
  border-bottom: 1px solid #ddd;
}
.order-summary-details-wrapper ul li span:last-child{
color: rgba(0,0,0,0.56);
}
